body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

h1 {
    color: #007bff;
    text-align: center;
    margin-top: 20px;
}

form {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    direction: rtl; /* For right-to-left text */
    text-align: right; /* Aligns text to the right */
    font-family: 'Khodijah','Tahoma', 'Arial', sans-serif;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    color: #333;
}

/* Flex container for summaries */
.summary-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin: 20px auto;
    width: 90%;
}

/* Individual summary box styles */
.summary-box {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 45%;
}

.summary-box h2 {
    text-align: center;
    color: #007bff;
    margin-bottom: 10px;
}

.summary-box p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    direction: rtl; /* For right-to-left text */
    text-align: right; /* Aligns text to the right */
    font-family: 'Khodijah','Tahoma', 'Arial', sans-serif;
}

